%head
  %title Youpi !!!
  %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
  %script(src="/javascripts/jquery.isotope.js" type="text/javascript")
  :sass
    #container
      background-color: black
      overflow: hidden
      height: 502px
      .isotope-item
        background-color: white
        width: 250px
        height: 250px
        font-size: 30
        text-align: center
      .size0
        width: 501px
        height: 501px
        background-color: #ccc
      .size1
        background-color: #ddd
        width: 501px
        height: 250px
      .size2
        background-color: #eee
      .size3
        background-color: #fff
      .size4
        background-color: #eee
      .size5
        background-color: #eee
      .size6
        background-color: #eee
      .size7
        background-color: #eee
      .size8
        background-color: #eee

%body
  #container
    - 20.times do |i|
      .isotope-item(id="item#{i}" class="size#{i%8}") Item ##{i}

  :coffee
    $.Isotope::_getMasonryGutterColumns = ->
      gutter = @options.masonry and @options.masonry.gutterWidth or 0
      containerWidth = @element.width()
      
      # Or use the size of the first item
      
      # If there's no items, use size of container
      @masonry.columnWidth = @options.masonry and @options.masonry.columnWidth or @$filteredAtoms.outerWidth(true) or containerWidth
      @masonry.columnWidth += gutter
      @masonry.cols = Math.floor((containerWidth + gutter) / @masonry.columnWidth)
      @masonry.cols = Math.max(@masonry.cols, 1)

    $.Isotope::_masonryReset = ->
      
      # Layout-specific props
      @masonry = {}
      
      # FIXME shouldn't have to call this again
      @_getMasonryGutterColumns()
      i = @masonry.cols
      @masonry.colYs = []
      @masonry.colYs.push 0  while i--

    $.Isotope::_masonryResizeChanged = ->
      prevSegments = @masonry.cols
      
      # Update cols/rows
      @_getMasonryGutterColumns()
      
      # Return if updated cols/rows is not equal to previous
      @masonry.cols isnt prevSegments

    $('#container').isotope
      itemSelector: ".isotope-item"
      layoutMode: 'masonryHorizontal'
      masonryHorizontal:
        rowHeight: 250
        gutterWidth: 10
